

#toDoList{
    height: 1000px;
    width: 100%;
    background-color: black;
}



.title h1{
    color: white;
    font-size: 60px;
}


button{
    float: right;
}


.remove-button{
    color:blue;
    float: right;
    cursor: pointer;
}

.col-md-10{
    margin-top: 120px;
}

.col-md-8{
    margin-left: 100px;
    
}

.col-ms-1{
    margin-top: 200px;
}